@font-face {
    font-family: 'Fira Code';
    src: url('/FiraCode-VariableFont_wght.ttf')  format('truetype');
}
body {
    font-family: 'Fira Code', monospace;
    max-width: 34em;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 1.18em;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    color: #c7e0e8;
    background: #0e0215;
}

// header

a.active, .header-name {
    text-decoration: none;
    color: inherit;
}

a.active {
    font-weight: bold;
}

.header-name {
    font-size: 2em;
    color: aliceblue;
}

nav ul {
    list-style: none;
    padding: 0;

    li {
        float: left;
        padding-right: 1rem;
    }
}

// section

.section-list > li {
    margin-bottom: 1rem;
}

// article

.header-name, nav,
h1, h2, h3, h4, h5, h6,
.published-on {
    letter-spacing: -2px;
    color: aliceblue;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    font-size: 2rem;
    letter-spacing: -2.5px;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4, h5, h6 {
    font-size: 1.4rem;
}

.published-on {
    font-style: italic;
    font-size: 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

pre {
    padding: 2rem 2rem;
    overflow: auto;
    border-radius: 0.3rem;
    margin-block-start: 3em;
    margin-block-end: 3em;
    line-height: 1.1rem;
    letter-spacing: 0.01rem;

    @media (min-width: 58em) {
        margin-left: -8em;
        margin-right: -8em;
    }
    border: 0.3px solid;
    background: inherit;
}

code {
    padding: 0.3rem;
    border-radius: 0.3rem;
}

a {
    color: #00b7ff;
}
a:visited {
    color: #ca83f7;
}

img {
    width: 100%;
    height: auto;
    &:not(.not-wide) {
        @media (min-width: 58em) {
            width: calc(100% + 14em);
            margin-left: -7em;
            margin-right: -7em;
        }
    }
    &.no-expand {
        width: 100%;
        margin: 0;
    }
}

figure {
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-top: 2em;

    figcaption {
        margin-top: 1em;
        font-style: italic;
        font-size: 1rem;
        font-weight: 400;
        width: 100%;
    }
}

.youtube {
    width: 34em;
    height: calc(34em / 1.78);
    border: 0;
    @media (max-width: 35em) {
        // eh, close enough.
        width: calc(100vw - 5rem);
        height: calc(calc(100vw - 5rem) / 1.78);
    }
}

#tracking-pixel {
    width: 1px;
    height: 1px;
}
