{% extends "index.html" %}

{% block content %}
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}
    {% for s in index.subsections %}
    {% set subsection = get_section(path=s) %}
    {% if current_path == subsection.path and subsection.pages %}
        <ul class="section-list">
        {% for page in subsection.pages %}
        <li>
            <a href="{{ page.permalink }}" {% if current_path == page.path %}class="active"{% endif %}>
                {{ page.title }}
            </a>
            {% if page.summary %}{{ page.summary | safe }}{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
{% endblock content %}
